.header {
  display: flex;
  background: #F4F5F6;
  .category-bar {
    flex:1;
    width: 92%;
    height: 60rpx;
    line-height: 52rpx;
    white-space: nowrap;
    div {
      display: inline-block;
      padding: 0 10rpx;
      margin-left: 30rpx;
      font-size: 30rpx;
      color: #505050;
    }
    .active {
      color:#f85959;
    }
  }
  .iconfont {
    position: relative;
    flex:1;
    width: 8%;
    height: 60rpx;
    line-height: 60rpx;
    font-size: 40rpx;
    text-align: center;
    color:#f85959;
    box-shadow: -4rpx 0rpx 10rpx #ddd;
  }
}